body {
  font-family: Roboto, sans-serif; }
  body a {
    text-decoration: none;
    color: #000; }

.log-menu {
  padding-top: 18px;
  padding-right: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  right: 0;
  min-width: 240px;
  line-height: 28px; }

.log-menu__gmail, .log-menu__images {
  font-size: 13px;
  color: #737373; }

.log-menu__google-apps {
  height: 4px;
  width: 4px;
  opacity: .55;
  -webkit-box-shadow: 0px 4px, 6px 4px, 12px 4px, 0px 10px, 6px 10px, 12px 10px, 0px 16px, 6px 16px, 12px 16px;
          box-shadow: 0px 4px, 6px 4px, 12px 4px, 0px 10px, 6px 10px, 12px 10px, 0px 16px, 6px 16px, 12px 16px; }

.log-menu__bell-icon {
  opacity: .55; }
  .log-menu__bell-icon .fa-circle {
    font-size: 24px; }
    .log-menu__bell-icon .fa-circle .fa-bell {
      font-size: 9px;
      position: absolute;
      top: 28%; }
  .log-menu__bell-icon:hover {
    opacity: 1; }

.log-menu__profile-pic--jpeg {
  border-radius: 100%; }

.wrapper {
  width: 585px;
  text-align: center;
  margin: 0 auto;
  padding-top: 188px; }

.wrapper--brand-name {
  font-size: 90px;
  font-weight: lighter;
  letter-spacing: -5px;
  font-family: Futura, sans-serif;
  margin-bottom: 40px; }
  .wrapper--brand-name .wrapper--brand-name__G {
    color: #4285f4; }
  .wrapper--brand-name .wrapper--brand-name__o {
    color: #ea4335; }
  .wrapper--brand-name .wrapper--brand-name__oo {
    color: #fbbc05; }
  .wrapper--brand-name .wrapper--brand-name__g {
    color: #4285f4; }
  .wrapper--brand-name .wrapper--brand-name__l {
    color: #34a853; }
  .wrapper--brand-name .wrapper--brand-name__e {
    color: #ea4335; }

.search-engine__bar {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 44px;
  border: none;
  padding: 15px;
  margin-bottom: 21px;
  background-image: url("styling/microphone.png");
  background-size: 24px 24px;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08); }
  .search-engine__bar:focus {
    outline: 0; }
  .search-engine__bar:hover {
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25), 0 0 0 1px rgba(0, 0, 0, 0.08);
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25), 0 0 0 1px rgba(0, 0, 0, 0.08); }

.search-engine__buttons .submit {
  font-size: 13px;
  font-family: arial, sans-serif;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  background-color: #f2f2f2;
  color: #757575;
  font-weight: bold;
  border: none;
  border-radius: 2px;
  margin: 11px 4px;
  text-align: center;
  cursor: pointer;
  border: 1px solid #f2f2f2; }
  .search-engine__buttons .submit:focus {
    outline: 0;
    border: 1px solid #4285f4; }
  .search-engine__buttons .submit:hover {
    color: #000;
    border: 1px solid #ccc;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); }
  .search-engine__buttons .submit:active {
    border: 1px solid #4285f4; }

.footer {
  position: absolute;
  height: 40px;
  width: 100%;
  background-color: #f2f2f2;
  border-top: 1px solid #e4e4e4;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 13px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .footer .footer__business, .footer .footer__legal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-width: 300px; }

.text--link {
  color: #666;
  border-bottom: 1px solid transparent; }
  .text--link:hover {
    border-bottom: 1px solid #666; }

/*# sourceMappingURL=main.css.map */