/* line 1, main.scss */
body {
  font-family: 'Roboto', sans-serif; }
  /* line 3, main.scss */
  body a {
    text-decoration: none;
    color: #000; }

/* line 10, main.scss */
.log-menu {
  padding-top: 18px;
  padding-right: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  right: 0;
  min-width: 240px;
  line-height: 28px; }

/* line 22, main.scss */
.log-menu__gmail, .log-menu__images {
  font-size: 13px;
  color: #737373; }

/* line 28, main.scss */
.log-menu__google-apps {
  text-indent: -99999px;
  opacity: .55;
  height: 4px;
  width: 4px;
  cursor: pointer;
  -webkit-box-shadow: 0px 4px, 6px 4px, 12px 4px, 0px 10px, 6px 10px, 12px 10px, 0px 16px, 6px 16px, 12px 16px;
          box-shadow: 0px 4px, 6px 4px, 12px 4px, 0px 10px, 6px 10px, 12px 10px, 0px 16px, 6px 16px, 12px 16px; }
  /* line 35, main.scss */
  .log-menu__google-apps:hover {
    opacity: 1; }
  /* line 38, main.scss */
  .log-menu__google-apps .log-menu__google-apps--link {
    display: block;
    width: 24px;
    height: 24px;
    text-decoration: none; }

/* line 47, main.scss */
.log-menu__bell-icon {
  opacity: .55; }
  /* line 49, main.scss */
  .log-menu__bell-icon .fa-circle {
    font-size: 24px; }
    /* line 51, main.scss */
    .log-menu__bell-icon .fa-circle .fa-bell {
      font-size: 9px;
      position: absolute;
      top: 28%; }
  /* line 57, main.scss */
  .log-menu__bell-icon:hover {
    opacity: 1; }

/* line 63, main.scss */
.log-menu__profile-pic--jpeg {
  border-radius: 100%;
  position: relative;
  right: 13px;
  bottom: 5px; }

/* line 71, main.scss */
.wrapper {
  width: 585px;
  text-align: center;
  margin: 0 auto;
  padding-top: 188px; }

/* line 78, main.scss */
.wrapper--brand-name {
  font-size: 90px;
  font-weight: lighter;
  letter-spacing: -5px;
  font-family: Futura, sans-serif;
  margin-bottom: 40px; }
  /* line 84, main.scss */
  .wrapper--brand-name .wrapper--brand-name__G {
    color: #4285f4; }
  /* line 85, main.scss */
  .wrapper--brand-name .wrapper--brand-name__o {
    color: #ea4335; }
  /* line 86, main.scss */
  .wrapper--brand-name .wrapper--brand-name__oo {
    color: #fbbc05; }
  /* line 87, main.scss */
  .wrapper--brand-name .wrapper--brand-name__g {
    color: #4285f4; }
  /* line 88, main.scss */
  .wrapper--brand-name .wrapper--brand-name__l {
    color: #34a853; }
  /* line 89, main.scss */
  .wrapper--brand-name .wrapper--brand-name__e {
    color: #ea4335; }

/* line 93, main.scss */
.search-engine__bar {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 44px;
  margin-bottom: 21px;
  background-size: 24px 24px;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08); }
  /* line 99, main.scss */
  .search-engine__bar:hover {
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25), 0 0 0 1px rgba(0, 0, 0, 0.08);
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25), 0 0 0 1px rgba(0, 0, 0, 0.08); }
  /* line 102, main.scss */
  .search-engine__bar .search-engine__input {
    border: none;
    padding: 0 66px 0 15px;
    height: 100%;
    width: 75%;
    position: relative;
    float: left; }
    /* line 109, main.scss */
    .search-engine__bar .search-engine__input:focus {
      outline: 0; }
  /* line 111, main.scss */
  .search-engine__bar .search-engine__bar--micro {
    width: 10%;
    height: 100%;
    position: relative;
    float: right;
    background-image: url(https://arianzargaran.github.io/week-1_Google/styling/google_microphone.png);
    background-size: 18px 25.766355140186917px;
    background-repeat: no-repeat;
    background-position: center center; }
    /* line 120, main.scss */
    .search-engine__bar .search-engine__bar--micro:hover .search-engine__bar--msg {
      visibility: visible; }
    /* line 123, main.scss */
    .search-engine__bar .search-engine__bar--micro .search-engine__bar--msg {
      visibility: hidden;
      position: relative;
      padding: 7px 9px;
      top: 50px;
      right: 30px;
      width: 100px;
      background-color: #000;
      color: #fff;
      border: 1px solid #fff;
      -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
              box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08); }
      /* line 134, main.scss */
      .search-engine__bar .search-engine__bar--micro .search-engine__bar--msg .search-engine__bar--arrow {
        bottom: 100%;
        left: 50%;
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border: 1px solid #fff;
        border-color: rgba(255, 255, 255, 0);
        border-bottom-color: #000;
        border-width: 6px;
        margin-left: -6px; }
    /* line 147, main.scss */
    .search-engine__bar .search-engine__bar--micro .search-engine__bar--txt {
      font-family: arial, sans-serif;
      font-size: 12px;
      letter-spacing: -.2px;
      font-weight: 700; }

/* line 157, main.scss */
input[type="text"] {
  font-size: 16px; }

/* line 161, main.scss */
::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.2); }

/* Chrome/Opera/Safari */
/* line 162, main.scss */
::-moz-placeholder {
  color: rgba(0, 0, 0, 0.2); }

/* Firefox 19+ */
/* line 163, main.scss */
:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.2); }

/* IE 10+ */
/* line 164, main.scss */
:-moz-placeholder {
  color: rgba(0, 0, 0, 0.2); }

/* Firefox 18- */
/* line 167, main.scss */
.search-engine__buttons .submit {
  font-size: 13px;
  font-family: arial, sans-serif;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  background-color: #f2f2f2;
  color: #757575;
  font-weight: bold;
  border: none;
  border-radius: 2px;
  margin: 11px 4px;
  text-align: center;
  cursor: pointer;
  border: 1px solid #f2f2f2; }
  /* line 182, main.scss */
  .search-engine__buttons .submit:focus {
    outline: 0;
    border: 1px solid #4285f4; }
  /* line 183, main.scss */
  .search-engine__buttons .submit:hover {
    color: #000;
    border: 1px solid #ccc;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); }
  /* line 184, main.scss */
  .search-engine__buttons .submit:active {
    border: 1px solid #4285f4; }

/* line 190, main.scss */
.footer {
  position: absolute;
  height: 40px;
  width: 100%;
  background-color: #f2f2f2;
  border-top: 1px solid #e4e4e4;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 13px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  /* line 200, main.scss */
  .footer .footer__business, .footer .footer__legal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-width: 300px; }

/* line 208, main.scss */
.text--link {
  color: #666;
  border-bottom: 1px solid transparent; }
  /* line 211, main.scss */
  .text--link:hover {
    border-bottom: 1px solid #666; }

/*# sourceMappingURL=main.css.map */